body {
	margin: 0;
	padding: 0;
	background-color: #EEEEEE;

	overflow-x: hidden;
}

#container-postpreview {
	position: absolute;

	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

.post {
	border-bottom: 1px solid black;
	clear: both;
	overflow: hidden;
}

.post-info {
	color: white;
	background-color: gray;

	overflow: hidden;
}

.post-thumbnail > * {
	float: left;
	margin-right: 5px;
	
	-webkit-filter: brightness(0);
	filter: brightness(0);
}
.post-thumbnail:hover > * {
	-webkit-filter: brightness(1);
	filter: brightness(1);
}
.post-thumbnail img {
	display: block;
	max-width: 90px;
	max-height: 90px;
	width: auto;
	height: auto;
}

.quote {
	color: #789922;
}